@font-face {
    font-family:museo500;
    src: url(../webfonts/Museo500.otf);
  }
  @font-face {
    font-family: museo700;
    src: url(../webfonts/Museo700.otf);
  }
  @font-face {
    font-family: museo300;
    src: url(../webfonts/Museo300.otf);
  } 
  .museo300 {
    font-family: museo300;
   
  } 
  .museo500 {
    font-family: museo500;
   
  }
  .museo700 {
    font-family: museo700;
   
  }
  .greyColor{
      color: #6B6C6F !important;
  }
  a{
      text-decoration: unset !important;
  }
input{
    border-radius:20px !important;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.05);
}
.outletGreen{
    color: #29B1CC !important;
    border: 2px solid #29B1CC !important;
box-sizing: border-box;
border-radius: 20px !important;
}
.buttonGreen{
    background-color: #29B1CC !important;
border-radius: 20px !important;
color: #ffffff !important;
box-shadow: 0px 10px 20px rgba(41, 177, 204, 0.3);
}
.img{
    /* width: inherit; */
    height:-webkit-fill-available
}
.flexAuto{
    flex: auto
}.has-search .form-control {
    padding-left: 2.3rem;
}

.has-search .form-control-feedback {
    position: absolute;
   width: 1rem;
   top: 64%;
   left: 7%
}
.eye{
    left: 88% !important
}
.carousel-indicators li{
    width: 7px !important;
    height: 7px !important;
    border-radius: 50%;
    background-color: #ffffff !important
  }
  .carousel-indicators .active{
    background-color: #ffffff
  }
.carousel-indicators{
    left: unset !important;
    margin-right: 5% !important
}
.photOnleft {
    position: absolute;
    bottom: -10px;
    left: 5%;
    padding-bottom: 20px;
   
}
.guy{
    width: 3rem
}